@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply bg-poly-dark text-gray-100;
  font-family: 'Inter', system-ui, -apple-system, sans-serif;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}
